<h1 class="text-light">Contact Us</h1>
<div class="text-light  p-5">

	<!-- facebook -->
	<p>DM me at : 
	<a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/faisal.ansari.dex" role="button"><i class="fab fa-facebook me-1"></i>Facebook</a>
	</p>

	<!-- instagram -->
	<p>Visit my Portfolio Instagram : 
	<a class="btn text-light btn-outline-danger" style="background-color: #ac2bac;" href="https://www.instagram.com/faisalartanddesign/" role="button"><i class="fab fa-instagram me-1"></i>Instagram</a>
	</p>

	<!-- dribbble -->
	<p>Visit my Dribbble :
	<a class="btn text-light btn-outline-danger" style="background-color: #ec4a89;" href="https://dribbble.com/faisal-ansari-dex" role="button"><i class="fab fa-dribbble me-1"></i>Dribble</a>
	</p>

	<!-- linkedin -->
	<p>Hire me at : 
	<a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/muhammad-faisal-ansari-dex10/" role="button"><i class="fab fa-linkedin-in me-1"></i>Linkedin</a>
	</p>

	<!-- gmail -->
	<p>Mail me at : 
	<a class="btn text-light btn-outline-danger" style="background-color: #dd4b39;" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=faisalansari2000khi@gmail.com" role="button"><i class="fab fa-google "></i>Gmail</a>
	</p>

</div>