<h1 class="text-light pb-4">Explore Random</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(phone != '') { %>

    <a href="/phone/<%= phone._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/uploads/<%= phone.image %>" alt="<%= phone.name %>" loading="lazy">
      </div>
      <div class="pt-1 text-light"><%= phone.name %></div>
    </a>
    
  <% } else { %>
    <p class="text-light">No items found.</p>
  <% } %> 
</div>