<h1 class="text-light">About Us</h1>
<div class="p-5">
	<p class="text-light">
		This is a blog website that was created using Node.js, Express.js, MongoDB, and Bootstrap. It is a simple blog website that allows users to submit blog posts and view them.
		This website is built by Muhammad Faisal Ansari ID F2019266056.
	</p>
</div>